# AXIOM local deployment configuration
AXIOM_REPO_URL=https://github.com/AxAxiAxes/axiom-freedom.git
AXIOM_BRANCH=main
AXIOM_DB_USER=axiom
AXIOM_DB_PASSWORD=replace-with-generated-password
AXIOM_DB_NAME=axiom
AXIOM_WEB_PORT=8081
AXIOM_PROXY_PORT=8080
COPILOT_EMBED_URL=
COPILOT_AGENT_ID=
